.user-profile .message {
    font-size: 0.8em;
    padding: 0.5em 1em;
}

.user-profile .ok {
    color: rgb(107, 226, 107);
}

.user-profile .error {
    color: rgb(255, 119, 119);
}

.user-profile .card-profile-image-change {
    position: absolute;
    margin-top: 110px;
    margin-left: -100px;
    z-index: 10;
}

.user-profile .card-profile-image-change i {
    font-size: 1.6em;
    color: #999;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 0.1em 0.3em;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 5px grey;
}

.user-profile .card-profile-image-change i:hover {
    cursor: pointer;
    margin-top: -1px;
}